/* ------ homepage ----- */
.jumbotron-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url("../src/images/hero-image.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.jumbotron-header {
  font-family: Mona-Sans;
}

.nav-link:hover {
  color: black !important;
}

.nav-link {
  color: rgb(0 0 0 / 40%) !important;
}

.pushable {
  background: #DAA521;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #FBD703;
  color: white;
  transform: translateY(-6px);
}

.card {
  width: 25rem;
  display: inline-block;
  border: none;
  padding: 30px;
  text-align: left;
}

.card-body {
  padding: 0;
}

.front:hover {
  color: black;
}

.btn {
  border: none;
}

.pushable:active .front {
  transform: translateY(-2px);
}

/* ---- media queries ---- */
@media only screen and (max-width: 600px) {
  a:hover {
    border-bottom: 1px solid #FABC5B;
  }

  #about-header,
  .about-paragraph {
    padding: 20px 20px 0;
  }

  img {
    display: inline-block;
  }
}

/* ------ 404 page ----- */
.error-bg {
  background-image: url('../src/images/404-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}